.carrossel-container {
  padding: 20px 0;
  position: relative;
}

.titulo-secao {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: white;
}
  

.carrossel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.carrossel {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  gap: 15px;
  padding: 10px 0;
}

.filme-card {
  flex: 0 0 auto;
  width: 375px;
  height: 220px;
  transition: transform 0.3s;
  cursor: pointer;
  position: relative;
}

.filme-card:hover {
  transform: scale(1.05);
  z-index: 2;
}

.filme-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 4px;
}

.filme-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: white;
}

.filme-info h3 {
  margin: 0;
  font-size: 0.9rem;
}

.filme-info p {
  margin: 5px 0 0;
  font-size: 0.8rem;
  color: #ccc;
}

.btn-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  width: 40px;
  height: 220px;
  border-radius: 0%;
  cursor: pointer;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.btn-nav:hover {
  background: rgba(0,0,0,0.8);
}

.btn-prev {
  left: 0;
}

.btn-next {
  right: 0;
} 