<div class="carrossel-container">
  <h2 class="titulo-secao">{{ titulo }}</h2>
  <div class="carrossel-wrapper">
    <button class="btn-nav btn-prev" (click)="scrollLeft()" *ngIf="showNavPrev">
      <i class="bi bi-chevron-left"></i>
    </button>
      <div class="carrossel" #carrosselRef (scroll)="onScroll($event.target)">
        <div class="filme-card" *ngFor="let filme of filmes" (click)="onFilmeClick(filme)"> 
          <img [src]="filme.fotoUrl" [alt]="filme.titulo">
        </div>
      </div>
    <button class="btn-nav btn-next" (click)="scrollRight()" *ngIf="showNavNext">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</div>