.cadastro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    min-height: 100vh;
    background-color: #141414; 
    padding-top: 50px; 
    font-family: Sans-serif; 
    font-weight: bold; 
    color: #fff; 
    font-size: 1.3rem;

    @media (max-width: 600px) {
        padding-top: 20px; // Menos padding em telas menores
    }
}

.netflix-logo {
    margin-bottom: 20px; // Espaço abaixo do logo

    img {
        height: 170px; // Altura do logo
        display: block; // Garante que a imagem se comporte como um bloco
        max-width: 100%; // Garante que a imagem não transborde
    }
}

.form-wrapper {
    width: 90%; 
    max-width: 400px; 
    
    

    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2.5em; 
        font-weight: bold; 
    }

    
}

.form-group {
    margin-bottom: 10px; 

    label {
        display: block; 
        margin-bottom: 10px; 
        font-weight: 530; 
    }

    input {
        width: 100%;
        padding: 10px;
        font-size: 1.1rem;
        border-radius: 5px;
        background-color: #1d1d1d; 
        color: #fff; 
        box-sizing: border-box; 
        outline: none; 
        border: 1px solid #333; // Borda padrão
        &:focus {
            border: 1px solid #0071eb; 
        }

        &::placeholder {
            color: #aaa; // Cor do placeholder
        }
    }
}

.select-wrapper {
    position: relative; 
    margin-bottom: 15px; 
    font-weight: 600;

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: 530;
    }

    select {
        width: 100%;
        padding: 10px;
        font-size: 1.1rem;
        border-radius: 5px;
        background-color: #1d1d1d;
        border: 1px solid #333; // Borda padrão
        color: #fff;
        box-sizing: border-box;
        outline: none;

        // Esconde a seta padrão do select
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 35px;

        &:focus {
            border: 1px solid #0071eb;
        }

       
        option[value=""][disabled] {
            color: #aaa; 
        }
    }

    .select-arrow {
        position: absolute;
        top: 50%; 
        right: 15px;
        transform: translateY(5px); 
        pointer-events: none; 
        color: #fff; 
        font-size: 0.7em; 
    }
}

button#btn-register {
    width: 100%;
    background-color: #e50914; 
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold; 
    transition: background-color 0.3s ease; 
    margin-top: 10px; 

    &:hover {
        background-color: #880007; 
    }
}