<header>
    <nav class="main-nav">
        <div class="container">
            <div class="logo">
                <a routerLink="/home"><img src="assets/logo/Netflix_Logo_RGB.png" alt="Netflix Logo"></a>
            </div>
            <ul class="nav-links">
                <li><a routerLink="/home">Início</a></li>
                <li><a routerLink="/cadastro">Séries</a></li>
                <li><a routerLink="/filme">Filmes</a></li>
                <li><a routerLink="/login">Login</a></li>
            </ul>
            <button id="btn-search" type="button">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </nav>
</header>

<section class="hero">
    <div class="hero-content">
        <h1><span>NETFLIX</span> ORIGINAL</h1>
        <h2> LA CASA DE PAPEL</h2>
        <div class="info-container">
            <p>
                Oito ladrões fazem reféns e trancam-se <br> na Casa da Moeda da Espanha enquanto <br>
                um gênio do crime manipula a polícia <br> do lado de fora.
            </p>    
        </div>
        <br>
        <div class="btn-container">
            <button id="btn-play" type="button">
                <i class="bi bi-play-fill"></i><span>Assistir</span>
            </button>
            <button id="btn-info" type="button" (click)="abrirPopupHero()">
                <i class="bi bi-info-circle"></i><span>Mais Informações</span>
            </button>
        </div>
    </div>
</section> 

<section class="carrossel-section">
    <app-carrossel
        [titulo]="'Continuar Assistindo'"
        [filmes]="continuarAssistindo"
        (filmeClicado)="abrirPopupFilme($event)">
    </app-carrossel>

    <app-carrossel
        [titulo]="'Animes Populares'"
        [filmes]="animesPopulares"
        (filmeClicado)="abrirPopupFilme($event)">
    </app-carrossel>

    <app-carrossel
        [titulo]="'Séries Populares'"
        [filmes]="seriesPopulares"
        (filmeClicado)="abrirPopupFilme($event)">
    </app-carrossel>

    <app-filme *ngIf="isPopupOpen && filmeSelecionado" [filme]="filmeSelecionado" (fechar)="fecharPopup()"></app-filme>
</section>
