header {
  .main-nav {
    background-color: #000;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }

    .logo a {
      color: #b20710;
      font-size: 2.8rem;
      font-weight: bold;
      text-decoration: none;
      margin-right: 10rem;
    }

    .nav-links {
      display: flex;
      gap: 1.5rem;
      list-style: none;
      margin: 0;
      padding: 0;
      flex: 1;

      li {
        margin: 0 1.5rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #fff;
          text-decoration: none;
          font-size: 1.5rem;

          &:hover {
            color: #a8a8a8;
            transition: 0.5s;
            cursor: pointer;
          }
        }
      }
    }
  }
}

#btn-search {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border: none;
  border-radius: 8px;
  margin-left: auto;
  cursor: pointer;

  i {
    font-size: 1.5rem;
    color: white;

    &:hover {
      color: #000;
      transition: color 0.5s;
    }
  }
}

.hero {
  position: relative;
  background: url('../../../assets/images/kanye.jpg') center center / cover no-repeat;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 4rem;

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      letter-spacing: 0.4em;
      color: white;
    }

    h2 {
      font-size: 4rem;
    }

    span {
      font-weight: bold;
    }

    .info-container {
      width: 100%;

      p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 2rem;
        margin: 0;
        padding: 0;
      }
    }

    .btn-container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      #btn-play,
      #btn-info {
        background-color: #fff;
        font-size: 1.4rem;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        color: #000;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        i {
          font-size: 1.6rem;
        }
      }
    }
  }
}
