<header>
    <h1>NETFLIX</h1>
    <nav>
        <ul class="menu">
            <li><a routerLink="/home">Início</a></li>
            <li><a routerLink="/cadastro">Séries</a></li>
            <li><a routerLink="/filme">Filmes</a></li>
            <li><a routerLink="/login">Login</a></li>
            <button id="btn-search" aria-label="Buscar">
                <i class="bi bi-search"></i>
            </button>
        </ul>
    </nav>
</header>

<section class="hero">
    <div class="info">
        <span class="tag">NETFLIX ORIGINAL</span>
        <h1>LA CASA DE PAPEL</h1>
        <p>Oito ladrões fazem reféns e trancam-se na Casa da Moeda da Espanha enquanto um gênio do crime manipula a polícia do lado de fora.</p>
        <div class="buttons">
          <button class="btn-play">▶ Assista</button>
        </div>
    </div>
</section>
