<header>
    <nav class="main-nav">
        <div class="container">
            <div class="logo">
                <a routerLink="/home">NETFLIX</a>
            </div>
            <ul class="nav-links">
                <li><a routerLink="/home">Início</a></li>
                <li><a routerLink="/cadastro">Séries</a></li>
                <li><a routerLink="/filme">Filmes</a></li>
                <li><a routerLink="/login">Login</a></li>
            </ul>
            <button id="btn-search" type="button">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </nav>
</header>

<section class="hero">
    <div class="hero-content">
        <h1><span>NETFLIX</span> ORIGINAL</h1>
        <h2> CASA DE PAPEL</h2>
        <p>
            Oito ladrões fazem reféns e trancam-se <br> na Casa da Moeda da Espanha enquanto <br>
            um gênio do crime manipula a polícia <br> do lado de fora.
        </p>

        <br>

        <button id="btn-watch">▶ Assista</button>
        
        <button id="btn-info" type="button">
            <i class="bi bi-info-circle"></i><span>Mais Informações</span>
        </button>
    </div>
</section> 
