header {
  .main-nav {
    background: linear-gradient(to bottom, #000, #141414);
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo a {
      color: #b20710;
      font-size: 2.8rem;
      font-weight: bold;
      text-decoration: none;
      margin-right: 6rem;
      margin-left: 4rem;
      cursor: pointer;
    }

    .logo,
    .nav-links {
      display: flex;
      align-items: center;
    }
    
    .nav-links {
      list-style: none;
      display: flex;
      gap: 1rem; 

      li {
        margin: 0 1.5rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #fff;
          text-decoration: none;
          font-size: 1.5rem;

          &:hover {
            color: #a8a8a8;
            transition: 0.5s;
            cursor: pointer;
          }
        }
      }
    }
  }
}

#btn-search {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000000;
  border: none;
  border-radius: 8px;
  margin-left: auto;
  cursor: pointer;
  margin-right: 4rem;

  i {
    font-size: 1.5rem;
    color: white;

    &:hover {
      color: #a8a8a8;
      transition: color 0.5s;
    }
  }
}

.hero {
  position: relative;
  background:
  linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.2) 40%, transparent 100%),
  url('../../../assets/images/money-heist.jpg') center center / cover no-repeat;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 4rem;


  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    h1 {
      font-family: Sans-serif;
      font-weight: normal;
      letter-spacing: 0.4em;
      color: white;
    }

    h2 {
      font-size: 4rem;
    }

    h1 span {
      font-weight: bold;
      letter-spacing: 0em;
    }

    .info-container {
      width: 100%;

      p {
        font-family: Sans-serif;
        font-weight: 400;
        font-size: 2rem;
        margin: 0;
        padding: 0;
      }
    }

    .btn-base {
      background-color: #fff;
      font-size: 1.6rem;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      color: #000;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: bold;
    }
    
    .btn-container {
      width: 100%;
      display: flex;
      gap: 2rem;
    
      #btn-play {
        @extend .btn-base;
      }
    
      #btn-info {
        @extend .btn-base;
        background-color: #353535;
        color: #ffffff;
      }

      #btn-info:hover {
        background-color: #252525;
        color: #ffffff;
        transition: 0.7s;
      }
    
      #btn-play:hover {
        background-color: #9e9e9e;
        color: #000000;
        transition: 0.7s;
      }
    }
        i {
          font-size: 2.5rem;
        }

  }

}

.hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, #141414, transparent);
}