.hero{
    position: relative;
    background-image: url('../../../assets/images/kanye.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 4rem;


    .hero-content {
        background-color: rgba(0, 0, 0, 0); 
        color: white;
        padding: 10px; 
    }

    li a {
        background-color: rgba(0, 0, 0, 0.5); 
        color: white; 
        padding: 10px; 
    }

   
    p{
        font-family: 'Open Sans', sans-serif;
        font-weight: 400; /* Ou 400 para normal */
        background-color: rgba(0, 0, 0, 0); 
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }

    h1{
        background-color: rgba(0, 0, 0, 0); 
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        letter-spacing: 0.4em; 
        color: white;
    }

    h2{
        background-color: rgba(0, 0, 0, 0); 
        font-size: 4rem;
    }

    span{
        background-color: rgba(0, 0, 0, 0); 
        letter-spacing: 0em;
        font-weight: bold;
    }

}

#btn-search {
    width: 50px;          
    height: 50px;
    display: flex;       
    align-items: center;  
    justify-content: center; 
    background-color: #000000; 
    border: none;         
    border-radius: 8px;   
    cursor: pointer;      
  
    i { 
      font-size: 1.5rem; 
      color: white; 
    }

}

header {
    .main-nav {
        background-color: #000; 
        color: #fff;
        padding: 1rem 0; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100; 
      }
      
      .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between; /* Alterado para space-between */
        align-items: center;
        padding: 0 20px;
      }
      
      .logo a {
        color: #e50914;
        font-size: 2.5rem;
        font-weight: bold;
        text-decoration: none;
      }
      
      .nav-links {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
      }
      
      .nav-links li {
        margin: 0 1.5rem; 
      }
      
      .nav-links li:first-child {
        margin-left: 0;
      }
      
      .nav-links li:last-child {
        margin-right: 0; 
      }
      
      .nav-links a {
        color: #fff; /* Cor branca dos links */
        text-decoration: none; /* Remove o sublinhado dos links */
        font-size: 1.3rem; /* Tamanho da fonte dos links */
      }
      
      .nav-links a:hover {
        color: #929292; /* Cor dos links ao passar o mouse (opcional) */
        transition: 0.5s;
        cursor: pointer;
      }
      
    
}  