<router-outlet></router-outlet>

<footer>
  <h1>NETFLIX</h1>
    <ul class="menu">
      <li><a routerLink="/home">Início</a></li>
      <li><a routerLink="/cadastro">Cadastro</a></li>
      <li><a routerLink="/filme">Filmes</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ul>
</footer>
  
<h1>Catálogo da Netflix (NETFLIX)</h1>

<app-aba [filmes]="filmesAcao" tituloAba="Filmes de Ação"></app-aba>
<app-aba [filmes]="filmesComedia" tituloAba="Comédias"></app-aba>
<app-aba [filmes]="filmesDrama" tituloAba="Dramas"></app-aba>
